
body {
  background-color: seashell;
}

td {
  text-align: right;
  vertical-align: top;
  }

h1 {
  font-family: Garamond;
}

p {
  font-family: Garamond;
}

a {
  font-family: Garamond;
}

#v3 {
  text-indent: 1em;
}

#wrapper {
  max-width: 350px;
  margin: auto
}

#stanza {
  width: 330px;
  margin: auto
}

footer {
  font-size: smaller;
}
