
body {
  background-color: seashell;
}

td {
  text-align: right;
  vertical-align: top;
  }

h1 {
  font-family: Garamond;
}

p {
  font-family: Garamond;
}

a {
  font-family: Garamond;
}

#v3 {
  text-indent: 1em;
}

footer {
  font-size: smaller;
}

#wrapper {
  max-width: 350px;
  margin: auto
}

#stanza {
  width: 330px;
  margin: auto
}

@media only screen and (min-width: 600px) {
  #wrapper {
    max-width: 550px;
  }
  #stanza {
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (min-width: 800px) {
  #wrapper {
    max-width: 700px;
  }
  #stanza {
    max-width: 550px;
  }
}
