@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');

body {
  background-color: seashell;
}

td {
  text-align: right;
  vertical-align: top;
  }

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

p, a, button, td, input {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

th {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

.verse {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}

a:link {
  color: teal;
}

a:visited {
  color: teal;
}

a:hover {
  color: turquoise;
}

.verse {
  font-size: large;
}

.v3 {
  text-indent: 1em;
}

#parallels p {
  font-size: unset;
}

footer p {
  font-size: smaller;
  text-align: left;
}

#wrapper {
  max-width: 350px;
  margin: auto
}

#header {
  max-width: 350px;
}

#back_forward_nav {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 350px;
}

@media only screen and (min-width: 600px) {
  #wrapper {
    max-width: 600px;
  }
  #stanza {
    max-width: 550px;
    margin: auto;
  }
  header {
    max-width: 600px;
  }
  footer p {
    text-align: center;
    max-width: 600px;
  }
  #back_forward_nav {
    display: grid;
    grid-template-columns: 200px 200px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #index-heading {
    text-align: center;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
}

