---
---
<!doctype html>
<html>
    <body>
        <div class = 'wrapper-masthead'>
            <div class="container">
                <div class="site-info">
                    <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                    <p class="site-description">{{ site.description }}</p>
                </div>
            </div>
            <nav>
                <a href="{{ site.baseurl }}/">Index</a>
                <a href="{{ site.baseurl }}/about">About</a>
            </nav>
        </div>
        {{ content }}
        <div class="wrapper-footer">
            <div class="container">
              <footer class="footer">
                This site is the work of <a href = "https://github.com/daniel-allington">Daniel Allington</a>. 
                It was created on 15 October 2021, and is very much a work in progress.
              </footer>
            </div>
          </div>
    </body>
</html>
