---
layout: default
---
<head>
    <meta charset="utf-8">
    <title>{{ page.edition }} edition, stanza {{ page.stanza }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<article>
    <h1>{{ page.edition }} edition, stanza {{ page.stanza }}</h1>
    <p class = 'verse'>{{ page.v1 }}</p>
    <p class = 'verse'>{{ page.v2 }}</p>
    <p class = 'verse' id = 'v3'>{{ page.v3 }}</p>
    <p class = 'verse'>{{ page.v4 }}</p>
    <p><a href = "{{ site.url }}">Back to index</a></p>
    {% assign before = page.stanza | minus: 1 %}
    {% assign after = page.stanza | plus: 1 %}
    <p>
    {% if page.stanza > 1 %}
    Stanza <a href = "{{ site.baseurl }}/stanzas/ed-{{ page.edition }}-stanza-{{ before }}.html">{{ before }}</a>
    {% endif %}
    {% if page.stanza < 100 %}
    Stanza <a href = "{{ site.baseurl }}/stanzas/ed-{{ page.edition }}-stanza-{{ after }}.html">{{ after }}</a>
    {% endif %}
    </p>
<article>
