---
layout: default
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.edition }} edition, stanza {{ page.stanza }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<div id = "stanza">
    <h1>{{ page.edition }} edition, stanza {{ page.stanza }}</h1>
    <p class = 'verse'>{{ page.v1 }}</p>
    <p class = 'verse'>{{ page.v2 }}</p>
    <p class = 'verse' id = 'v3'>{{ page.v3 }}</p>
    <p class = 'verse'>{{ page.v4 }}</p>
    <p><a href = "{{ site.url }}">Back to index</a></p>
    {% assign same_edition_stanzas = site.stanzas | where: 'edition', page.edition %}

    {% assign number_before = page.stanza | minus: 1 %}
    {% assign number_after = page.stanza | plus: 1 %}

    {% assign stanza_before = same_edition_stanzas | find: 'stanza', number_before %}
    {% assign stanza_after = same_edition_stanzas | find: 'stanza', number_after %}

    <p>
        {% if stanza_before %}
        <a href = "{{ stanza_before.url }}"><i class="fa fa-arrow-left"></i> {{ page.edition }} edition, stanza {{ stanza_before.stanza }}</a>
        {% endif %}
        {% if stanza_after %}
        <a href = "{{ stanza_after.url }}">{{ page.edition }} edition, stanza {{ stanza_after.stanza }} <i class="fa fa-arrow-right"></i></a>
        {% endif %}
    </p>
</div>
